{% extends "seller_header.html" %}
{% load static %}
{% block content %}
	<!-- Product Detail -->
	<br>
	<br>
	<br>
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{product.product_picture.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product.product_picture.url}}" alt="IMG-PRODUCT">										
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{product.product_picture.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product.product_picture.url}}" alt="IMG-PRODUCT">	
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{product.product_picture.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product.product_picture.url}}" alt="IMG-PRODUCT">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							Name : {{product.product_name}}
						</h4>

						<span class="mtext-106 cl2">
							Price : {{product.price}}
						</span>
						
						<!--  -->
						<div class="p-t-33">
							<br><br>
							<a href="{% url 'product_edit' pk=product.pk %}"><button type="button" class="btn btn-primary" style="height: 4rem; width: 6rem;"><b>E D I T</b></button></a>
							<a href="{% url 'product_delete' pk=product.pk %}"><button type="button" class="btn btn-danger" style="height: 4rem; width: 7rem;"><b>D E L E T E</b></button></a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>
	<br>
	<br>
	<br>


{% endblock %}