{% load static %}
{% include "admin_header.html" %}
{% block admin_content %}

<section class="playlist-details">
   <h1 class="heading">View Policy</h1>
   <div class="row"> 
      <table class="table table-striped">
         <thead>
             <tr style="background-color: #8e44ad; color: aliceblue;">
                 <th><h3>Serial No</h3></th>
                 <th><h3>Policy Name</h3></th>
                 <th><h3>Category</h3></th>
                 <th><h3>Sum Assurance</h3></th>
                 <th><h3>Premium</h3></th>
                 <th><h3>Tenure</h3></th>
                 <th><h3>Creation Date</h3></th>
             </tr>
         </thead>
         <tbody>
            {% for policy in policies %}
             <tr>
                 <th scope="row"><h3>{{ forloop.counter }}</h3></th>
                 <td><h3>{{ policy.policy_name }}</h3></td>
                 <td><h3>{{ policy.category.category_name }}</h3></td>
                 <td><h3>{{ policy.sum_assurance }}</h3></td>
                 <td><h3>{{ policy.premium }}</h3></td>
                 <td><h3>{{ policy.tenure }}</h3></td>
                 <td><h3>{{ policy.creation_date }}</h3></td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
   </div>
</section>

{% endblock %}
