{% load static %}
{% include "cheader.html" %}
{% block content %}


<section class="courses">

   <div class="box-container">

     

      <div class="box">
         <div class="tutor">
            <i class="fa-brands fa-product-hunt fa-2x" style="color: rgb(96, 95, 95);"></i>
            <div class="info">
               <h3>Avilable Policey</h3>
            </div>
         </div>
         
         <a href="{% url "customer_view_policy" %}" class="inline-btn">Listed Polices</a>
      </div>

      <div class="box">
         <div class="tutor">
            <i class="fa-brands fa-product-hunt fa-2x" style="color: rgb(96, 95, 95);"></i>
            <div class="info">
               <h3>Applied Policey</h3>
            </div>
         </div>
         
         <a href="{% url "customer_applay_policy" %}" class="inline-btn">Listed Polices</a>
      </div>




      <div class="box">
         <div class="tutor">
            <i class="fa-solid fa-question fa-2x"style="color: rgb(96, 95, 95);" ></i>
            <div class="info">
               <h3>Total Questions</h3>
            </div>
         </div>
         
         <a href="{% url "question_history" %}" class="inline-btn">View Questions</a>
      </div>

      {% comment %} <div class="box">
         <div class="tutor">
            <i class="fa-solid fa-list fa-2x" style="color: rgb(96, 95, 95);" ></i>
            <div class="info">
               <h3>Policey Category</h3>
               
            </div>
         </div>
         
         <a href="admin_view_category.html" class="inline-btn">view Category</a>
      </div> {% endcomment %}

      

      

   </div>

</section>

{% endblock  %}

