{% load static %}
{% include "admin_header.html" %}
{% block content %}
<section class="playlist-details">

   <h1 class="heading">Questions </h1>

   <div class="row"> 
      <table class="table table-striped">
         <thead>
             <tr style="background-color: #8e44ad; color: aliceblue;">
                 <th><h3>Serial No</h3></th>
                 <th><h3>Customer Name</h3></th>
                 <th><h3>Problem</h3></th>
                 <th><h3>Admin comment</h3></th>
                 <th><h3>Asked Date</h3></th>
                 <th><h3>Update</h3></th>
             </tr>
         </thead>
         <tbody>
             {% for question in questions %}
             <tr>
                 <th scope="row"><h3>{{ forloop.counter }}</h3></th>
                 <td><h3>{{ question.user }}</h3></td>
                 <td><h3>{{ question.description }}</h3></td>
                 <td><h3>{{ question.admin_comment }}</h3></td>
                 <td><h3>{{ question.asked_date }}</h3></td>
                 <td><h3><a href="{% url "admin_replay_comment" question.id%}"><i class="fa-solid fa-pen-to-square"></i></a></h3></td>
             </tr>
             {% empty %}
             <tr>
                 <td colspan="6">No questions found</td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
   </div>

</section>
{% endblock %}
