{% load static %}
{% include "admin_header.html" %}
{% block  admin_content %}

   <section class="contact">

    <div class="row">
 
 
       <form action="{% url "edit_category_category" category.id%}" method="post">
         {% csrf_token %}
          <h3>Edit Category</h3>
          <input type="text" value="{{category.category_name}}" name="edit_category" required maxlength="50" class="box">
          <input type="submit" value="Update Category" class="inline-btn" name="submit">
       </form>
 
    </div>
 
    {% endblock  %}
 
