{% load static %}
{% include "admin_header.html" %}
{% block content %}
<section class="playlist-details">

   <h1 class="heading">Questions </h1>

   <div class="row"> 
      <table class="table table-striped">
         <thead>
             <tr style="background-color: #8e44ad; color: aliceblue;">
                 <th><h3>Serial No</h3></th>
                 <th><h3>Customer Name</h3></th>
                 <th><h3>Problem</h3></th>
                 <th><h3>Admin comment</h3></th>
                 <th><h3>Asked Date</h3></th>
                 <th><h3>Update</h3></th>
                 
                 
             </tr>
         </thead>
         <tbody>
             <tr>
                 <th scope="row"><h3>1</h3></th>
                 <td><h3>Mark</h3></td>
                 <td><h3>Otto</h3></td>
                 <td><h3>@mdo</h3></td>
                 <td><h3>27/03/2004</h3></td>
                 <td><h3><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></h3></td>
            
                 
             </tr>
             
         </tbody>
     </table>
     
      
     
   </div>

</section>


{% endblock %}