{% extends "sheader.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<head>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg'%}');">
		<h2 class="ltext-105 cl0 txt-center">
			Edit Product
		</h2>
	</section>	

<!-- Content page -->

  <!-- Content page -->
<section class="bg0 p-t-104 p-b-116" >
    <div class="container" >
        <div class="flex-w flex-tr justify-content-center">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
              {% if messages %}
                  {% for message in messages %}
                  <script>
                    alert("{{message}}");
                  </script>                  
                  {% endfor %}
              {% endif %}
                <form action="{% url 'edit' pk=product.pk %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Edit Product
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                    <select name="pcategory" id="" class="form-control" required>
                      <option disabled selected>Category</option>
                      {% if product.pcategory == "Men" %}
                      <option value="Men" selected>Men</option>
                      <option value="Women">Women</option>
                      <option value="Child">Child</option>

                      {% elif product.pcategory == "Women" %}
                      <option value="Men">Men</option>
                      <option value="Women" selected>Women</option>
                      <option value="Child">Child</option>

                      {% elif product.pcategory == "Child" %}
                      <option value="Men">Men</option>
                      <option value="Women">Women</option>
                      <option value="Child" selected>Child</option>

                      {% endif %}

                    </select>
					</div> 

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <select name="psize" id="" class="form-control" required>
                          <option disabled selected>Size</option>
                          {% if product.psize == "S" %}
                          <option value="S" selected>S</option>
                          <option value="XS">XS</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>

                          {% elif product.psize == "XS" %}
                          <option value="S">S</option>
                          <option value="XS" selected>XS</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>

                          {% elif product.psize == "M" %}
                          <option value="S">S</option>
                          <option value="XS">XS</option>
                          <option value="M" selected>M</option>
                          <option value="L">L</option>
                          <option value="XL">XL</option>

                          {% elif product.psize == "L" %}
                          <option value="S">S</option>
                          <option value="XS">XS</option>
                          <option value="M">M</option>
                          <option value="L" selected>L</option>
                          <option value="XL">XL</option>

                          {% elif product.psize == "XL" %}
                          <option value="S">S</option>
                          <option value="XS">XS</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                          <option value="XL" selected>XL</option>

                          {% endif %}
                        </select>
                    </div> 

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <select name="pbrand" id="" class="form-control" required>
                            <option disabled selected>Brand</option>
                            {% if product.pbrand == "Levis" %}
                            <option value="Levis" selected>Levis</option>
                            <option value="Roadstar">Roadstar</option>
                            <option value="Nike">Nike</option>
                            <option value="Supreme">Supreme</option>

                            {% elif product.pbrand == "Roadstar" %}
                            <option value="Levis">Levis</option>
                            <option value="Roadstar" selected>Roadstar</option>
                            <option value="Nike">Nike</option>
                            <option value="Supreme">Supreme</option>

                            {% elif product.pbrand == "Nike" %}
                            <option value="Levis">Levis</option>
                            <option value="Roadstar">Roadstar</option>
                            <option value="Nike" selected>Nike</option>
                            <option value="Supreme">Supreme</option>

                            {% elif product.pbrand == "Supreme" %}
                            <option value="Levis">Levis</option>
                            <option value="Roadstar">Roadstar</option>
                            <option value="Nike">Nike</option>
                            <option value="Supreme" selected>Supreme</option>

                            {% endif %}
                        </select>
                    </div> 

                    <p class="text-head">Product Name</p>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="pname" value={{product.pname}}>
                    </div>

                    <p class="text-head">Price</p>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="number" name="price" value={{product.price}}>
                    </div>

                    <p class="text-head">Description</p>
                    <div class="bor8 m-b-20 how-pos4-parent">                     
                      <textarea class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="desc">{{product.desc}}</textarea>
                    </div>

                    <p class="text-head">Picture</p>
                    <div class="bor8 m-b-20 how-pos4-parent"><br>
                        <img src="/media/{{product.picture}}" style="height: 200px ; width:200px; margin-left: 8rem;"><br> <br>
                      <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" style="margin-left: 5rem ;" type="file" name="picture">
                    </div>

                    
                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" type="submit">
                        Edit Product
                    </button><br>
                </form>
            </div>

            
    </div>
</section>
{% endblock %}