{% extends 'header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<body class="animsition">


	<!-- Shoping Cart -->
	<div class="bg0 p-t-75 p-b-85">
		<div class="container">
			{% if cart %}
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						
						<div class="wrap-table-shopping-cart">
							
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Image</th>
									<th class="column-2">Product Name</th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
								{% for i in cart %}
								<tr class="table_row">
									<td class="column-1"><br>
										<div class="how-itemcart1">
											<img src="{{i.product.picture.url}}" alt="IMG">	
										</div>
										<br><br>
									</td>
									<td class="column-2">{{i.product.pname}}</td>
									<td class="column-3">{{i.product.price}}</td>
									<td class="column-4">{{i.product_qty}}</td>
									<td class="column-5">{{i.total_price}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
			{% else %}
        	<center><p>No Order</p></center>
			{% endif %}
		</div>
	</div>
		


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div> 


</body>
</html>
{% endblock %}